:root {
  --baseline: 1.6em;
  --color-bg: #fff;
  --color-fg: #323232;
  --color-link: #205492;
  --color-link-hover: #2d83b9;

  --color-source: hsla(0, 0%, 27%, 1);
  --color-mystic-meridian: hsla(200, 25%, 47%, 1);
  --color-turquoise-tempest: hsla(186, 77%, 33%, 1);
  --color-olive-oasis: hsla(82, 70%, 20%, 1);
  --color-ocean-spray: hsla(195, 50%, 33%, 1);
  --color-crimson-cascade: hsla(335, 85%, 44%, 1);
  --color-tangerine-tango: hsla(19, 70%, 51%, 1);
  --color-saffron-sunset: hsla(20, 68%, 47%, 0.75);
  --color-jungle-jade: hsla(96, 87%, 16%, 1);
  --color-fuchsia-flare: hsla(332, 86%, 54%, 1);
  --color-mauve-mirage: hsla(337, 100%, 70%, 0.15);
  --color-slate-shadow: hsla(0, 0%, 50%, 1);
  --color-chocolate-charisma: hsla(22, 100%, 22%, 1);
  --color-frosty-leaf: hsl(127, 24%, 93%, 1);
  --color-verdant-night: hsl(152, 59%, 19%, 1);

  --font-stack-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-stack-serif: -apple-system-ui-serif, ui-serif, 'New York', Georgia, serif;
  --font-stack-monospace: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #242936;
    --color-fg: #cccac2;
    --color-link: #73d0ff;
    --color-link-hover: #73d0ff;

    --color-source: var(--color-fg);
    --color-comment: #b8cfe680;
    --color-storage: #ffad66;
    --color-support-function: #ffd173;
    --color-constant-numeric: #ffcc66;
    --color-keyword-control: #ffad66;
    --color-entity-name-tag: #5ccfe6;
    --color-entity-name-function: #dfbfff;
    --color-punctuation-definition-tag: #5ccfe680;
    --color-punctuation-definition-string: #5ccfe680;
    --color-string: #d5ff80;
    --color-keyword-other: #ffad66;
    --color-keyword-other-mark: var(--color-support-function);
  }
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-stack-sans-serif);
  line-height: var(--baseline);
  margin: 0 1em;
  text-align: center;
}

img {
  max-width: 100%;
}

blockquote {
  opacity: 0.9;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: lightgray;
  margin-left: 0;
  padding-left: 1rem;
}

strong {
  font-weight: 600;
}

a:link {
  transition: color 150ms linear;
}

a:link,
a:visited {
  color: var(--color-link);
}

a:link:hover,
a:visited:hover {
  color: var(--color-link-hover);
}

main {
  margin: 0 auto;
  text-align: left;
  max-width: 51em;
  width: 100%;
}

article header {
  margin: var(--baseline) 0;
  font-size: 85%;
}

article header p time::after {
  content: ' • ';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack-serif);
  font-weight: normal;
  line-height: var(--baseline);
}

h1 > small {
  font-size: 50%;
  opacity: 0.9;
}

h1 {
  line-height: var(--baseline);
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 2);
  font-size: 2em;
  font-weight: 400;
}

h2 {
  margin-top: var(--baseline);
  margin-bottom: 0;
  font-size: 1.5em;
}

h3 {
  margin-top: var(--baseline);
  margin-bottom: 0;
  font-size: 1.4em;
}

header {
  margin-bottom: calc(var(--baseline) * 2);
}

header p {
  margin: 0;
}

p, ul, ol, blockquote {
  font-size: 1em;
}

p {
  hyphens: auto;
  margin: var(--baseline) 0;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

code {
  font-size: 0.95em;
  font-family: var(--font-stack-monospace);
}

pre {
  font-family: var(--font-stack-monospace);
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: clip;
}

pre > code {
  color: var(--color-source);
  font-size: 1em;
  line-height: var(--baseline);
}

@media (prefers-color-scheme: light) {
  .comment {
    color: var(--color-mystic-meridian);
  }

  .storage {
    color: var(--color-turquoise-tempest);
  }

  .support.function {
    color: var(--color-olive-oasis)
  }

  .constant.numeric {
    color: var(--color-ocean-spray);
  }

  .keyword.control {
    color: var(--color-crimson-cascade);
  }

  .constant.string.symbol,
  .constant.language,
  .support.other.keyword {
    color: var(--color-tangerine-tango);
    background: transparent;
  }

  .constant.string.symbol .keyword.operator,
  .support.other.keyword .keyword.operator {
    color: var(--color-saffron-sunset);
  }

  .entity.name.tag,
  .entity.other.attribute-name {
    color: var(--color-jungle-jade);
  }

  .entity.name.function .source {
    color: var(--color-fuchsia-flare);
    background: var(--color-mauve-mirage);
  }

  .punctuation.definition.tag,
  .punctuation.separator {
    color: var(--color-slate-shadow);
  }

  .punctuation.definition.string {
    color: var(--color-chocolate-charisma);
  }

  .string {
    background: var(--color-frosty-leaf);
    color: var(--color-verdant-night);
    display: inline-block;
    white-space: pre-line;
  }
}

@media (prefers-color-scheme: dark) {
  .comment {
    color: var(--color-comment);
  }

  .storage {
    color: var(--color-storage);
  }

  .support.function {
    color: var(--color-support-function);
  }

  .constant.numeric {
    color: var(--color-constant-numeric);
  }

  .keyword.control {
    color: var(--color-keyword-control);
  }

  .constant.string.symbol,
  .constant.language,
  .support.other.keyword {
    color: var(--color-string);
  }

  .constant.string.symbol .keyword.operator,
  .support.other.keyword .keyword.operator {
    color: var(--color-string);
  }

  .entity.name.tag,
  .entity.other.attribute-name {
    color: var(--color-entity-name-tag);
  }

  .entity.name.function .source {
    color: var(--color-entity-name-function);
  }

  .punctuation.definition.tag,
  .punctuation.separator {
    color: var(--color-punctuation-definition-tag);
  }

  .punctuation.definition.string {
    color: var(--color-punctuation-definition-string);
  }

  .string {
    color: var(--color-string);
  }

  .keyword.other {
    color: var(--color-keyword-other);
  }

  .keyword.other.mark {
    color: var(--color-support-function);
  }
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0;
  margin-bottom: calc(var(--baseline) / 2);
}

nav ul li time {
  white-space: nowrap;
  font-size: 80%;
  opacity: 0.9;
  display: block;
  line-height: 1;
}

nav ul li a {
  margin-right: 0.5rem;
}

.footnotes a:link {
  margin-left: 0.25em;
  text-decoration: none;
}

footer {
  padding-top: calc(var(--baseline) * 2);
  padding-bottom: calc(var(--baseline) * 6);
}

table th {
  font-weight: 400;
  font-size: .9em;
}

table th {
  padding: 0 .25em;
}

table td {
  padding: .25em .5em;
}

table caption {
  font-size: .9em;
}