:root {
  --baseline: 1.6em;

  --color-bg: #fff;
  --color-fg: #323232;
  --color-link: #205492;
  --color-link-hover: #2d83b9;

  --color-source: hsla(0, 0%, 27%, 1);
  --bg-color-defn-name: hsla(337, 100%, 70%, 0.15);
  --bg-color-string: hsla(126, 23%, 73%, 0.27);
  --color-comment: hsla(200, 25%, 47%, 1);
  --color-constant-numeric: hsla(195, 50%, 33%, 1);
  --color-defn-name: hsl(336, 85%, 57%);
  --color-defn: hsl(291, 88%, 42%, 1);
  --color-dispatch: hsla(7, 43%, 58%, 1);
  --color-function-call: hsla(85, 74%, 24%, 1);
  --color-function: hsla(82, 70%, 20%, 1);
  --color-keyword: hsla(20, 68%, 47%, 1);
  --color-special-form: hsla(332, 86%, 54%, 1);
  --color-storage: hsla(186, 77%, 33%, 1);
  --color-string-quote: hsla(32, 100%, 22%, 1);
  --color-string: hsla(152, 59%, 19%, 1);

  --font-stack-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-stack-serif: -apple-system-ui-serif, ui-serif, 'New York', Georgia, serif;
  --font-stack-monospace: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #242936;
    --color-fg: #cccac2;
    --color-link: #73d0ff;
    --color-link-hover: #73d0ff;

    --color-source: var(--color-fg);
    --bg-color-defn-name: transparent;
    --bg-color-string: transparent;
    --color-comment: #b8cfe680;
    --color-constant-numeric: #ffcc66;
    --color-defn: #ffad66;
    --color-defn-name: #ffd173;
    --color-dispatch: #f29e74;
    --color-function-call: #ffd173;
    --color-function: #ffd173;
    --color-keyword: #ffad66;
    --color-punctuation-accessor: #f29e74;
    --color-special-form: #ffad66;
    --color-storage: #ffad66;
    --color-string-quote: var(--color-string);
    --color-string: #d5ff80;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-stack-sans-serif);
  line-height: var(--baseline);
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

blockquote {
  opacity: 0.85;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: lightgray;
  margin-left: 0;
  padding-left: 1rem;
}

strong {
  font-weight: 600;
}

a:link {
  transition: color 150ms linear;
}

a:link,
a:visited {
  color: var(--color-link);
}

a:link:hover,
a:visited:hover {
  color: var(--color-link-hover);
}

main {
  margin: 0 0 0 5%;
  text-align: left;
  max-width: 51em;
  width: 100%;
}

article header {
  margin: var(--baseline) 0;
  font-size: 85%;
}

article header p time::after {
  content: ' • ';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack-serif);
  font-weight: normal;
  line-height: var(--baseline);
}

h1 > small {
  font-size: 50%;
  opacity: 0.9;
}

h1 {
  line-height: var(--baseline);
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 2);
  font-size: 2em;
  font-weight: 400;
}

h2 {
  margin-top: var(--baseline);
  margin-bottom: 0;
  font-size: 1.5em;
}

h3 {
  margin-top: var(--baseline);
  margin-bottom: 0;
  font-size: 1.4em;
}

header {
  margin-bottom: calc(var(--baseline) * 2);
}

header p {
  margin: 0;
}

p, ul, ol, blockquote {
  font-size: 1em;
}

p {
  hyphens: auto;
  -webkit-hyphens: auto;
  margin: var(--baseline) 0;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

code {
  font-family: var(--font-stack-monospace);
  word-break: keep-all;
}

p > code {
  opacity: .9;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: .1em .3em;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  p > code {
    opacity: .9;
    background: #343b4d;
    border-color: #4c5364;
  }
}

pre {
  font-family: var(--font-stack-monospace);
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: clip;
}

pre > code {
  color: var(--color-source);
  font-size: 1em;
  line-height: var(--baseline);
}

.punctuation {
  opacity: .5;
}

.punctuation.string, .punctuation.comma {
  background: transparent;
  color: var(--color-string-quote);
  opacity: .75;
}

.constant.numeric {
  color: var(--color-constant-numeric);
}

.variable.function {
  color: var(--color-function);
}

.comment {
  color: var(--color-comment);
}

.constant.other.keyword {
  color: var(--color-keyword);
}

.string {
  background: var(--bg-color-string);
  color: var(--color-string);
  display: inline-block;
  white-space: pre-line;
}

.keyword.operator.macro {
  color: var(--color-dispatch);
}

.special-form {
  color: var(--color-special-form);
}

.function.declaration {
  color: var(--color-defn);
}

.function-call .function {
  color: var(--color-function-call);
}

.entity.entity.name.function {
  background: var(--bg-color-defn-name);
  color: var(--color-defn-name);
  display: inline-block;
  white-space: pre-line;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0;
  margin-bottom: calc(var(--baseline) / 2);
}

nav ul li time {
  white-space: nowrap;
  font-size: 80%;
  opacity: 0.9;
  display: block;
  line-height: 1;
}

nav ul li a {
  margin-right: 0.5rem;
}

.footnotes a:link {
  margin-left: 0.25em;
  text-decoration: none;
}

footer {
  margin-left: 5em;
  padding-top: calc(var(--baseline) * 2);
  padding-bottom: calc(var(--baseline) * 6);
  text-align: left;
}

table th {
  font-weight: 400;
  font-size: .9em;
}

table th {
  padding: 0 .25em;
}

table td {
  padding: .25em .5em;
}

table caption {
  font-size: .9em;
}

.footnote-ref {
  line-height: 0;
}

.footnote-ref a {
  text-decoration: none;
}

.entity.name.function .source {
  display: inline-block;
  white-space: pre-line;
}

code:has(.svgbob) {
  display: block;
  text-align: center;
}

.svgbob {
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .svgbob rect.backdrop {
    fill: var(--color-bg) !important;
    stroke: var(--color-bg) !important;
  }

  .svgbob .nofill {
    fill: var(--color-bg) !important;
  }

  .svgbob line, .svgbob path, .svgbob circle, .svgbob rect, .svgbob polygon {
    stroke: var(--color-fg) !important;
  }

  .svgbob text, .svgbob .filled {
    fill: var(--color-fg) !important;
  }
}